openapi: 3.0.3
info:
  title: Milad-CMS
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.arielnet.ir'
paths:
  /api/cms/attribute:
    get:
      summary: 'Display a listing of the resource.'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      title: رنگ
                      position: 1
                      use_as_filter: 1
                      options: []
                    -
                      id: 2
                      title: رنگ
                      position: 2
                      use_as_filter: 1
                      options:
                        -
                          id: 3
                          title: قرمز
                          body: null
                          code: '#ff0000'
                        -
                          id: 4
                          title: زرد
                          body: null
                          code: '#ffd500'
                        -
                          id: 5
                          title: سبز
                          body: null
                          code: '#2a9e00'
                  links:
                    first: 'https://api.arielnet.ir/api/cms/attribute?page=1'
                    last: null
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    path: 'https://api.arielnet.ir/api/cms/attribute'
                    per_page: 10
                    to: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        title: رنگ
                        position: 1
                        use_as_filter: 1
                        options: []
                      -
                        id: 2
                        title: رنگ
                        position: 2
                        use_as_filter: 1
                        options:
                          -
                            id: 3
                            title: قرمز
                            body: null
                            code: '#ff0000'
                          -
                            id: 4
                            title: زرد
                            body: null
                            code: '#ffd500'
                          -
                            id: 5
                            title: سبز
                            body: null
                            code: '#2a9e00'
                    items:
                      type: object
                  links:
                    type: object
                    example:
                      first: 'https://api.arielnet.ir/api/cms/attribute?page=1'
                      last: null
                      prev: null
                      next: null
                  meta:
                    type: object
                    example:
                      current_page: 1
                      from: 1
                      path: 'https://api.arielnet.ir/api/cms/attribute'
                      per_page: 10
                      to: 2
      tags:
        - Attribute
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: object
                  description: ''
                  example: []
                  properties:
                    column:
                      type: string
                      description: 'Column of sorting.'
                      example: id
                    order:
                      type: string
                      description: 'Order of sorting.'
                      example: asc
                page:
                  type: integer
                  description: 'Number of page.'
                  example: 1
                pageLength:
                  type: integer
                  description: 'Length of page.'
                  example: 10
    post:
      summary: 'Store a newly created attribute in storage.'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 'آیتم با موفقیت ایجاد گردید.'
                properties:
                  status:
                    type: string
                    example: 'آیتم با موفقیت ایجاد گردید.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'value نباید بیشتر از 191 کاراکتر باشد.'
                  example: wsnljbpczzrbmwdgfrswrxvepfstjqiraivzmrbwlezzwtydppqtishqstifegbxcfdxuvftlrhvoiqsucncoxuycvgvcgygmcxxhlrbasdzryeistrayeqzgprcplddpxllfboweizmzpsobkufikknciyfhdbbajxju
                use_as_filter:
                  type: boolean
                  description: ''
                  example: false
                options:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      title:
                        type: string
                        description: ''
                        example: corrupti
                    required:
                      - title
              required:
                - title
                - use_as_filter
      security: []
  /api/cms/contact-info:
    get:
      summary: 'Display a listing of the contactInfos.'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  links:
                    first: 'https://api.arielnet.ir/api/cms/contact-info?page=1'
                    last: null
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: null
                    path: 'https://api.arielnet.ir/api/cms/contact-info'
                    per_page: 10
                    to: null
                properties:
                  data:
                    type: array
                    example: []
                  links:
                    type: object
                    example:
                      first: 'https://api.arielnet.ir/api/cms/contact-info?page=1'
                      last: null
                      prev: null
                      next: null
                  meta:
                    type: object
                    example:
                      current_page: 1
                      from: null
                      path: 'https://api.arielnet.ir/api/cms/contact-info'
                      per_page: 10
                      to: null
      tags:
        - 'ContactInfos Admin'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: object
                  description: ''
                  example: []
                  properties:
                    column:
                      type: string
                      description: 'Column of sorting.'
                      example: id
                    order:
                      type: string
                      description: 'Order of sorting.'
                      example: asc
                page:
                  type: integer
                  description: 'Number of page.'
                  example: 1
                pageLength:
                  type: integer
                  description: 'Length of page.'
                  example: 10
                group:
                  type: string
                  description: 'Group of contact infos you prefer to show.'
                  example: contact
    post:
      summary: 'Store a newly created ContactInfo in storage.'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 'آیتم با موفقیت ایجاد گردید.'
                properties:
                  status:
                    type: string
                    example: 'آیتم با موفقیت ایجاد گردید.'
      tags:
        - 'ContactInfos Admin'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: required
                  description: 'string Type of contact info.'
                  example: phone
                group:
                  type: required
                  description: 'string Group of contact info.'
                  example: contact
                title:
                  type: required
                  description: 'string Title of contact info.'
                  example: 'company phone'
                icon:
                  type: required
                  description: 'string Icon of contact info.'
                  example: phone
                value:
                  type: required
                  description: 'string Value or url of contact info.'
                  example: '983155311111'
  '/api/cms/contact-info/{contact_info}':
    get:
      summary: 'Display the specified contactInfo.'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [App\Models\ContactInfo] maxime'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                  line: 385
                  trace:
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                      line: 332
                      function: prepareException
                      class: Illuminate\Foundation\Exceptions\Handler
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/nunomaduro/collision/src/Adapters/Laravel/ExceptionHandler.php
                      line: 54
                      function: render
                      class: Illuminate\Foundation\Exceptions\Handler
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Pipeline.php
                      line: 51
                      function: render
                      class: NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 172
                      function: handleException
                      class: Illuminate\Routing\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php
                      line: 44
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Auth\Middleware\Authenticate
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 33
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 128
                      function: 'Laravel\Sanctum\Http\Middleware\{closure}'
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 34
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 697
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 672
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 636
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 625
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 167
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 128
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/livewire/livewire/src/DisableBrowserCache.php
                      line: 19
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Livewire\DisableBrowserCache
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                      line: 60
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fruitcake/laravel-cors/src/HandleCors.php
                      line: 52
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Fruitcake\Cors\HandleCors
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fideloper/proxy/src/TrustProxies.php
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Fideloper\Proxy\TrustProxies
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 142
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 111
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 89
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 222
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 179
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 116
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 117
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 75
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 51
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 48
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 40
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 37
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 653
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 136
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Command/Command.php
                      line: 298
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 121
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                      line: 1005
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                      line: 299
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                      line: 171
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Application.php
                      line: 94
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 129
                      function: run
                      class: Illuminate\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/artisan
                      line: 37
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [App\Models\ContactInfo] maxime'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                  line:
                    type: integer
                    example: 385
                  trace:
                    type: array
                    example:
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                        line: 332
                        function: prepareException
                        class: Illuminate\Foundation\Exceptions\Handler
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/nunomaduro/collision/src/Adapters/Laravel/ExceptionHandler.php
                        line: 54
                        function: render
                        class: Illuminate\Foundation\Exceptions\Handler
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Pipeline.php
                        line: 51
                        function: render
                        class: NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 172
                        function: handleException
                        class: Illuminate\Routing\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php
                        line: 44
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Auth\Middleware\Authenticate
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                        line: 33
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 128
                        function: 'Laravel\Sanctum\Http\Middleware\{closure}'
                        class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                        line: 34
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 697
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 672
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 636
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 625
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 167
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 128
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/livewire/livewire/src/DisableBrowserCache.php
                        line: 19
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Livewire\DisableBrowserCache
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                        line: 60
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fruitcake/laravel-cors/src/HandleCors.php
                        line: 52
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Fruitcake\Cors\HandleCors
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fideloper/proxy/src/TrustProxies.php
                        line: 57
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Fideloper\Proxy\TrustProxies
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 142
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 111
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 89
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 222
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 179
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 116
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 117
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 75
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 51
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 48
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 40
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 37
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 653
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 136
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Command/Command.php
                        line: 298
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 121
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                        line: 1005
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                        line: 299
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                        line: 171
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Application.php
                        line: 94
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 129
                        function: run
                        class: Illuminate\Console\Application
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/artisan
                        line: 37
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
      tags:
        - 'ContactInfos Admin'
    put:
      summary: 'Update the specified contactInfo in storage.'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'No query results for model [App\Models\ContactInfo] et'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                  line: 385
                  trace:
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                      line: 332
                      function: prepareException
                      class: Illuminate\Foundation\Exceptions\Handler
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/nunomaduro/collision/src/Adapters/Laravel/ExceptionHandler.php
                      line: 54
                      function: render
                      class: Illuminate\Foundation\Exceptions\Handler
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Pipeline.php
                      line: 51
                      function: render
                      class: NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 172
                      function: handleException
                      class: Illuminate\Routing\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php
                      line: 44
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Auth\Middleware\Authenticate
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 33
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 128
                      function: 'Laravel\Sanctum\Http\Middleware\{closure}'
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 34
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 697
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 672
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 636
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 625
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 167
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 128
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/livewire/livewire/src/DisableBrowserCache.php
                      line: 19
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Livewire\DisableBrowserCache
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                      line: 60
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fruitcake/laravel-cors/src/HandleCors.php
                      line: 52
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Fruitcake\Cors\HandleCors
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fideloper/proxy/src/TrustProxies.php
                      line: 57
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 167
                      function: handle
                      class: Fideloper\Proxy\TrustProxies
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 142
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 111
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 89
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 222
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 179
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 116
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 117
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 75
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 51
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 48
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 40
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 37
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 653
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 136
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Command/Command.php
                      line: 298
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 121
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                      line: 1005
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                      line: 299
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/symfony/console/Application.php
                      line: 171
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Console/Application.php
                      line: 94
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 129
                      function: run
                      class: Illuminate\Console\Application
                      type: '->'
                    -
                      file: /media/milad/DRIVERS/Laravel/Milad-CMS/artisan
                      line: 37
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'No query results for model [App\Models\ContactInfo] et'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                  line:
                    type: integer
                    example: 385
                  trace:
                    type: array
                    example:
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php
                        line: 332
                        function: prepareException
                        class: Illuminate\Foundation\Exceptions\Handler
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/nunomaduro/collision/src/Adapters/Laravel/ExceptionHandler.php
                        line: 54
                        function: render
                        class: Illuminate\Foundation\Exceptions\Handler
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Pipeline.php
                        line: 51
                        function: render
                        class: NunoMaduro\Collision\Adapters\Laravel\ExceptionHandler
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 172
                        function: handleException
                        class: Illuminate\Routing\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Auth/Middleware/Authenticate.php
                        line: 44
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Auth\Middleware\Authenticate
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                        line: 33
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 128
                        function: 'Laravel\Sanctum\Http\Middleware\{closure}'
                        class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                        line: 34
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 697
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 672
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 636
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 625
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 167
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 128
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/livewire/livewire/src/DisableBrowserCache.php
                        line: 19
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Livewire\DisableBrowserCache
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                        line: 60
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fruitcake/laravel-cors/src/HandleCors.php
                        line: 52
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Fruitcake\Cors\HandleCors
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/fideloper/proxy/src/TrustProxies.php
                        line: 57
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 167
                        function: handle
                        class: Fideloper\Proxy\TrustProxies
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 142
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 111
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 89
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 222
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 179
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 116
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 117
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 75
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 51
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /media/milad/DRIVERS/Laravel/Milad-CMS/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 48
                        function: get
[...]
